<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div>
    <div class="name">Patient Name: <%=pName%></div>
    <div class="date">Measurement date: <%=mDate%></div>
    <div class="hr">Heart rate: <%=bpm%>  </div>
</div>

<script src="/home.js"></script>
</body>
</html>
